* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navigation {
    width: 100%;
    height: 80px;
    background-color: darkkhaki;
    box-shadow: 5px 10px 10px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

 
}
.navigation a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
    border: 1px solid black;
    
    
}

.navigation a:hover{
    color: blue;
    
    
}
.container {
    display: flex;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    align-items: center ;
    justify-content: center;
    border: 1px solid black;
    margin-top: 20px;

}

.box {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}